<!-- <h1>This is the JsonTestComponent</h1> -->

    <!-- <ul>
        <li *ngFor='let source of sources | values:"key":true'>
            {{source.key}}
        </li>
    </ul>
    {{sources}} -->


<!--
    <h1>The sources</h1>
    <ul *ngIf="sources">
      <li *ngFor='#bandMember of sources | values:"key":true'>
        <dl>
          <dt>Name:</dt>
          <dd>{{bandMember.name}}</dd>
          <dt>Description:</dt>
          <dd>{{bandMember.description}}</dd>
          <dt>Deceased:</dt>
          <dd>{{bandMember.deceased}}</dd>
          <dt>Object Key:</dt>
          <dd>{{bandMember.key}}</dd>
        </dl>
      </li>
    </ul> -->
