<div>

  <h1>This is AppComponent</h1>

  <span style='padding:20px'>
<select (change)='onSourceChange($event.target.value)'>
  <option *ngFor='let source of sources' value='{{source.id}}'>
    {{source.name}}
  </option>
</select>
</span>

  <span>
<select (change)='onViewChange($event.target.value)'>
  <option value='source'>Source</option>
  <option value='view'>View</option>
</select>
</span>

<br><br>


  <nav>
    <!-- <a [routerLink]="['/select']">Select Source</a> -->
    <!-- <a [routerLink]="['/source']">Source Info</a> -->
    <!-- <a [routerLink]="route()">ROUTE</a> -->
  </nav>

</div>

<!-- <page1>Loading page1 ...</page1>
<br>
<page2>Loading page2 ...</page2> -->

<router-outlet></router-outlet>
