<!-- <h3>Source Info:</h3>

<source-detail [catalog]='catalog'></source-detail> -->

<!-- _____________________________________________________________ -->

<!-- <p>Select a source below.</p>

<select (change)='onChange($event.target.value)'>
  <option *ngFor='let source of catalog' value='{{source.id}}'>
    {{source.name}}
  </option>
</select>

<p>You selected: {{catalog[selectedSource].name}}</p> -->

<!-- <nav>
    <a [routerLink]="['./source']">Page1 Source</a>
    <a [routerLink]="['./view']">Page1 View</a>
</nav>

<router-outlet></router-outlet> -->

<h3>This is SourceComponent</h3>

<div *ngIf="catalog"> <!-- You need this so that below only shows once the subscribe runs and defines catalog. -->
<p>You selected: {{catalog[id].Source_Name}}</p>
<p>RA: {{catalog[id].RAJ2000}}</p>
<p>DEC: {{catalog[id].DEJ2000}}</p>
</div>
